<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书出库</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register-login.css">
    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon"/>
</head>
<body>
<br/>
<form method="post">
        <div class="login form">
			<div class="group">
                <div class="group-ipt password">
					<input type="text" name="bid" id="password" class="ipt" placeholder="输入删除图书号" required>
				</div>
			</div>
            <div class="button">
                <button type="submit" class="login-btn register-btn" id="button">删除图书</button>
            </div>
		</div>
    </form>

</body>
</html>