<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register-login.css">
    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon"/>
</head>
<body>
<br/>
<form method="post">
        <div class="login form">
			<div class="group">
				<div class="group-ipt email">
					<input type="text" name="usr_id" id="email" class="ipt" placeholder="输入添加用户ID" required>
				</div>
				<div class="group-ipt password">
					<input type="text" name="usr_password" id="password" class="ipt" placeholder="输入添加用户密码" required>
				</div>
                <div class="group-ipt password">
					<input type="text" name="usr_type" id="password" class="ipt" placeholder="输入添加用户类别" required>
				</div>
			</div>
            <div class="button">
                <button type="submit" class="login-btn register-btn" id="button">添加用户</button>
            </div>
		</div>
    </form>

</body>
</html>